# AIKIDO
*                                 @egordon


# Build tools: GitHub, Continuous Integration, etc.
.ci/*                             @egordon
.github/*                         @egordon
tools/*                           @egordon
.travis.yml                       @egordon
codecov.yml                       @egordon
CMakeLists.txt                    @egordon
cmake/*                           @egordon


# Perception
include/aikido/perception.hpp     @egordon
include/aikido/perception/*       @egordon
src/perception/*                  @egordon


# Visualization
include/aikido/rviz.hpp           @egordon
include/aikido/rviz/*             @egordon
src/rviz/*                        @egordon


# Planning
include/aikido/statespace.hpp     @egordon
include/aikido/statespace/*       @egordon
src/statespace/*                  @egordon
include/aikido/distance.hpp       @egordon
include/aikido/distance/*         @egordon
src/distance/*                    @egordon
include/aikido/trajectory.hpp     @egordon
include/aikido/trajectory/*       @egordon
src/trajectory/*                  @egordon
include/aikido/constraint.hpp     @egordon
include/aikido/constraint/*       @egordon
src/constraint/*                  @egordon
include/aikido/planner.hpp        @egordon
include/aikido/planner/*          @egordon
src/planner/*                     @egordon
include/aikido/robot.hpp          @egordon
include/aikido/robot/*            @egordon
src/robot/*                       @egordon


# Control
include/aikido/control.hpp        @egordon
include/aikido/control/*          @egordon
src/control/*                     @egordon


# Python bindings
src/python/*                      @egordon
