# AIKIDO
*                                 @brianhou @egordon


# Build tools: GitHub, Continuous Integration, etc.
.ci/*                             @egordon
.github/*                         @egordon
tools/*                           @egordon
.travis.yml                       @egordon
codecov.yml                       @brianhou
CMakeLists.txt                    @egordon
cmake/*                           @egordon


# Perception
include/aikido/perception.hpp     @egordon
include/aikido/perception/*       @egordon
src/perception/*                  @egordon


# Visualization
include/aikido/rviz.hpp           @brianhou
include/aikido/rviz/*             @brianhou
src/rviz/*                        @brianhou


# Planning
include/aikido/statespace.hpp     @sniyaz @brianhou
include/aikido/statespace/*       @sniyaz @brianhou
src/statespace/*                  @sniyaz @brianhou
include/aikido/distance.hpp       @sniyaz
include/aikido/distance/*         @sniyaz
src/distance/*                    @sniyaz
include/aikido/trajectory.hpp     @sniyaz
include/aikido/trajectory/*       @sniyaz
src/trajectory/*                  @sniyaz
include/aikido/constraint.hpp     @sniyaz
include/aikido/constraint/*       @sniyaz
src/constraint/*                  @sniyaz
include/aikido/planner.hpp        @sniyaz
include/aikido/planner/*          @sniyaz
src/planner/*                     @sniyaz
include/aikido/robot.hpp          @gilwoolee @sniyaz
include/aikido/robot/*            @gilwoolee @sniyaz
src/robot/*                       @gilwoolee @sniyaz


# Control
include/aikido/control.hpp        @brianhou
include/aikido/control/*          @brianhou
src/control/*                     @brianhou


# Python bindings
src/python/*                      @gilwoolee @jslee02
