dist: xenial

sudo: required

group: travis_lts

language: generic

env:
  global:
    - TIMEOUT=30
    - IS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    - OS_NAME=$TRAVIS_OS_NAME
    - BUILD_DIR=$TRAVIS_BUILD_DIR

cache:
  apt: true
  directories:
    - /usr/local/Cellar

matrix:
  fast_finish: true
  include:
    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_RELEASE
        - DOCKER_FILE="ubuntu-trusty"
        - REQUIRED_ONLY=--required-only
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_FULL_DEBUG
        - DOCKER_FILE="ubuntu-trusty"
        - BUILD_TYPE=Debug
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_FULL_RELEASE
        - DOCKER_FILE="ubuntu-trusty"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      env:
        - BUILD_NAME=XENIAL_CATKIN_FULL_RELEASE
        - DOCKERFILE="Dockerfile.ubuntu-xenial"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      env:
        - BUILD_NAME=BIONIC_CATKIN_FULL_RELEASE
        - DOCKERFILE="Dockerfile.ubuntu-bionic"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      env:
        - BUILD_NAME=BIONIC_CMAKE_RELEASE
        - DOCKER_FILE="ubuntu-bionic"
        - BUILD_TYPE=Release
        - USE_CATKIN=OFF
      services: docker

    - os: linux
      env:
        - BUILD_NAME=DISCO_CMAKE_RELEASE
        - DOCKER_FILE="ubuntu-disco"
        - BUILD_TYPE=Release
        - USE_CATKIN=OFF
      services: docker

    - os: osx
      osx_image: xcode11
      compiler: clang
      env:
        - BUILD_NAME=XCODE11_CMAKE_RELEASE
        - BUILD_TYPE=Release
        - USE_CATKIN=OFF

    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=DOCS
        - DOCKER_FILE="ubuntu-bionic"
        - BUILD_TYPE=Release
        - USE_CATKIN=ON
      services: docker

  allow_failures:
    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_RELEASE
        - DOCKER_FILE="ubuntu-trusty"
        - REQUIRED_ONLY=--required-only
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_FULL_DEBUG
        - DOCKER_FILE="ubuntu-trusty"
        - BUILD_TYPE=Debug
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Debug -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      compiler: gcc
      env:
        - BUILD_NAME=TRUSTY_CATKIN_FULL_RELEASE
        - DOCKER_FILE="ubuntu-trusty"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      env:
        - BUILD_NAME=XENIAL_CATKIN_FULL_RELEASE
        - DOCKER_FILE="ubuntu-xenial"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

    - os: linux
      env:
        - BUILD_NAME=BIONIC_CATKIN_FULL_RELEASE
        - DOCKER_FILE="ubuntu-bionic"
        - BUILD_TYPE=Release
        - CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"
        - USE_CATKIN=ON
      services: docker

before_install:
  - if [ -n "$DOCKERFILE" ]; then
      docker build -t "$DOCKERFILE" -f ".ci/docker/$DOCKERFILE" .;
      docker run -itd -v $TRAVIS_BUILD_DIR:$TRAVIS_BUILD_DIR --env-file .ci/docker/env.list --name aikido-docker "$DOCKERFILE";
      docker exec aikido-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/before_install.sh";
    else
      '.ci/before_install.sh';
    fi

install:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec aikido-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/install.sh";
    else
      '.ci/install.sh';
    fi

script:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec aikido-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/script.sh";
    else
      '.ci/script.sh';
    fi

after_script:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec aikido-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/after_script.sh";
    else
      '.ci/after_script.sh';
    fi

after_failure:
  - if [ -n "$DOCKERFILE" ]; then
      docker exec aikido-docker /bin/sh -c "cd $TRAVIS_BUILD_DIR && ./.ci/after_failure.sh";
    else
      '.ci/after_failure.sh';
    fi

deploy:
  github-token: $GITHUB_TOKEN
  provider: pages
  skip-cleanup: true
  local-dir: gh-pages
  keep-history: false
  verbose: true
  on:
    branch: master
    condition: $BUILD_NAME == DOCS && $TRAVIS_EVENT_TYPE != cron
