dist: trusty

sudo: required

language: generic

env:
  global:
  - TIMEOUT=30 CATKIN_CONFIG_OPTIONS="-DCMAKE_BUILD_TYPE=Release -DTREAT_WARNINGS_AS_ERRORS=ON"

cache:
  - apt

# Install test fixture dependencies.
before_install:
  - mkdir -p "${HOME}/workspace/src"
  - cd "${HOME}/workspace"
  - git clone https://github.com/personalrobotics/pr-cleanroom.git scripts
  - curl -sS "${DISTRIBUTION}" > distribution.yml
  - ./scripts/internal-setup.sh
  - export PACKAGE_NAMES="$(./scripts/internal-get-packages.py distribution.yml ${REPOSITORY})"

install:
  - mv "${TRAVIS_BUILD_DIR}" src
  - ./scripts/internal-distro.py --workspace=src distribution.yml --repository "${REPOSITORY}"

script:
  - ./scripts/internal-build.sh ${PACKAGE_NAMES}
  - ./scripts/internal-test.sh ${PACKAGE_NAMES}
  # Check code style
  - ./scripts/internal-run.sh catkin build --no-status --no-deps -p 1 -i --make-args check-format -- aikido
  # Manually run Aikido's tests; they are not run automatically because it is not a Catkin package.
  - ./scripts/internal-run.sh catkin build --no-status --no-deps -p 1 -i --make-args tests test -- aikido
  # Rebuild Aikido in debug mode with coveralls enabled to measure test coverage.
  - ./scripts/internal-run.sh catkin clean -y aikido
  - ./scripts/internal-run.sh catkin build --no-status --no-deps -p 1 -i --cmake-args -DCMAKE_BUILD_TYPE=Debug -DTREAT_WARNINGS_AS_ERRORS=ON -DCOVERALLS=ON -- --make-args all tests -- aikido
  - ./scripts/internal-run.sh make -C build/aikido coveralls

after_script:
  - ./scripts/view-all-results.sh test_results
